body {
    width: 100%;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
    color: #E98389;
}


#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly ;
}

.card {
    font-family: 'Jost', sans-serif;
    width: 255px;
    height: 320px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 45%;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info .checked {
    color: orange;
}
.info #property_type {
    font-weight: 500;
}

.info #name {
    font-size: 13px;
}

.info {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 2px;
}

.info #price {
    font-weight: 500;
    font-size: 15px;
    color: #E98389;
}

.btn {
    color: white;
    background-color: #E98389;
    outline: node;
}

.btn:hover {
    background-color: white;
    color: #E98389;
    transition: 1s;
}

/*#searchBar {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 0.1px solid rgb(233, 233, 233);
    
}*/
#searchRooms input {
    margin-left: 10px;
    display: inline-block;
    width: auto;
    height: 40px;
    text-align: center;
}